.mb--large {
    margin-bottom: 5rem;
}

.mb--medium {
    margin-bottom: 3rem;
}

.mb--small {
    margin-bottom: 1.5rem;
}

.mt--medium {
    margin-top: 3rem;
}

.mr--medium {
    margin-right: 2rem !important;
}

.m--none {
    margin: 0 !important;
}

.text-center {
    text-align: center;
}

.color--primary {
    color: var(--color-primary) !important;
}

.block {
    display: block;
}

.flex-grow {
    flex: 1;
}

.justify-content-between {
    justify-content: space-between !important;
}